<div class="interactive-universe">

	<div id="splash">

		<div id="page">

			<div id="nonparallax"></div>

			<div class="keyart" id="parallax">
				<div class="keyart_layer parallax" id="keyart-1" data-speed="5"></div>
				<div class="keyart_layer parallax" id="keyart-2" data-speed="10"></div>
				<div class="keyart_layer parallax" id="keyart-3" data-speed="15"></div>
				<div class="keyart_layer parallax" id="keyart-4" data-speed="20"></div>
				<div class="keyart_layer parallax" id="keyart-5" data-speed=2></div>
				<div class="foreground"></div>
			</div>

			<div id="app" class="interactive-container">
				
				<div class="circle_loader">

				    <div class="up">
				        <div class="innera"></div>
				    </div>

				    <div class="down">
				        <div class="innerb"></div>
				    </div>

				</div>

			</div>

		</div>

	</div>

</div>