<div class='modal-background'>
  <div class='modal-outer'>
    <div class='modal' id="casestudy">
      <div class="modal-container">

        <div on-tap='close' class="close"></div>

        <div class="nomination-container">
          <h2>Vote for your favourite bird</h2>
          <p>The bird that you nominate must have wings</p>

          <div class="nomination-formm">

            <div class="nomination-label"><strong>Bird</strong></div>
            <input id="nomination-bird" class="nomination-input" type="text" name="song">

          </div>
        </div>

        <div class="action-link-container">
          <a on-tap='close' class="action-button">Cancel</a>
          <a on-tap='nominate' class="action-button nominate-link">Vote</a>
        </div>

      </div>
    </div>
  </div>
</div>