<div id="outer-wrapper" class="guInteractive">

	<div id="timestamp"></div>

    <div class='row'>

        <div id="standard_button">view tile view</div>

    </div>

	<div class='row borderBottom'>
	{{#each results}}

	<div class='row'>

	  <div class='left-flex'>
		
		<div class='categoryIcon' style="background-image:url('https://interactive.guim.co.uk/embed/aus/2017/nov/bird-pics/{{img}}');'">
		  <h2 class='center rank'>{{rank}}</h2>
		</div>
	  </div>

	  <div class='main-col-4'>
		<div class='row resultsItem' id='{{id}}' on-click='dropdown'>
			<div class='textWrapper figureSans'>
			  <div class='textInside'>
			  	<div class='bar' style='width:{{barWidth}}%;'></div>
			  	<div class="scoreboard_container">
					<div class='itemHeader'>{{name}}</div>
					<div class='mobAmount'>Votes: {{votes}}</div>
				</div>

				<div class='textPanel'><p>{{description}}</p></div>
			  </div>
			  
			</div>

		</div>
	  </div>  
	</div>   
	{{/each}}
	</div>

</div>