<div class="grid-wrapper">

    {{#if eligible}}    

    <div class="row birds">

        {{#each bird}}

        <div class="card">

            <div class="bird-header">

                <h3>{{name}}</h3>

                <small>{{species}}</small>

            </div>

            <div class="bird-bio">

                <div class="bird-description">{{description}}</div>
                
                <div class="bird-image" style="background-image:url('https://interactive.guim.co.uk/embed/aus/2019/bird-pics/{{#if img}}{{img}}'{{else}}52_other.png'{{/if}});"></div>
                
                

            </div>
        
            <div class="footer">

                <div on-click="['vote', id]" class="vote">Vote</div>
                
            </div>

        </div>

        {{/each}}

    </div>

    <div class="nominate_bird_bar">Your pick not listed? <a on-click="['nominate']">nominate it here</a></div>

    {{else}}

    <div id="timestamp">Twitchers: {{votecount}} | Results last updated: {{updated}}</div>

    {{#each bird}}

        <div class="results-block">

            <div class="ranking-block">
            
                <div class="birdrank" style="background-image:url('https://interactive.guim.co.uk/embed/aus/2019/bird-pics/{{#if img}}{{img}}'{{else}}52_other.png'{{/if}});">

                  <h2 class="center rank">{{rank}}</h2>

                </div>

            </div>

            <div class="bar-block">

                <div class="info-block">

                    <div class="textWrapper figureSans">

                        <div class="textInside">

                            <div class="bar" style="width:{{barWidth}}%;"></div>

                            <div class="scoreboard_container">

                                <div class="itemHeader">{{name}}</div>

                                <div class="votecount">Votes: {{votes}}</div>

                            </div>

                            <div class="textPanel"><p>{{description}}</p></div>

                        </div>

                    </div>
                      
                </div>

            </div>

        </div>  

    {{/each}}

    {{/if}}

</div>