<div class="grid-wrapper">

    <p class='countdown_ticker'>{{#if displayCountdown}}{{#countdown}}<div id="timeEnd"><span id="untilHour">{{hours}}</span> hrs, <span id="untilMinute">{{mins}}</span> mins, <span id="untilSecond">{{secs}} seconds until <br/>the <strong>final ten</strong> voting round begins</span></div>{{/countdown}}{{/if}}</p>

    <div class="intro">
        

    {{#if final}}
    <p class='countdown_ticker'>Vote for the Australian bird of 2019 from the final shortlist of 10 birds.</p>
    {{else}}
    <p><span class="drop-cap"><span class="drop-cap__inner">V</span></span>ote for your favourite Australian bird of 2019 from our list of 50 birds – if your favourite is not included, you can nominate it below. At the end of the first round the ten birds with the most votes will automatically make it to to the final round of voting. The first round is open until 8 November 2019.</p>
    {{/if}}

        

         {{#if !isIosApp}}    

        <div class="share-buttons">
            <div class="social_isolation">
                <button class="interactive-share" data-network="facebook" on-click="['social', 'facebook']"></button>
                <button class="interactive-share" data-network="twitter" on-click="['social', 'twitter']"></button>
            </div>
        </div>

        {{/if}}

    </div>


    {{#if eligible}}    

    <div class="row birds">

        {{#each bird}}

        <div class="card">

            <div class="bird-header">

                <h3>{{name}}</h3>

                <small>{{species}}</small>

            </div>

            <div class="bird-bio">

                <div class="bird-description">{{description}}</div>
                
                <div class="bird-image" style="background-image:url('https://interactive.guim.co.uk/embed/aus/2019/bird-pics/{{#if img}}{{img}}'{{else}}52_other.png'{{/if}});"></div>
                
                

            </div>
        
            <div class="footer">

                <div on-click="['vote', id]" class="vote">Vote</div>
                
            </div>

        </div>

        {{/each}}

    </div>

    {{#if final}}
    {{else}}
    <div class="nominate_bird_bar">Your pick not listed? <a on-click="['nominate']">nominate it here</a></div>
    {{/if}}

    {{else}}

    {{#if final}}
    <div id="timestamp"><strong>Results last updated:</strong> {{updated}}</div>
    {{else}}
    <div id="timestamp"><strong>You have voted</strong> in the first round of the bird poll. You can <strong>vote in the final round</strong> from <strong>November 8</strong> onwards.<br/>Twitchers: {{votecount}} | Results last updated: {{updated}}</div>
    {{/if}}

    {{#each bird}}

        <div class="results-block">

            <div class="ranking-block">
            
                <div class="birdrank" style="background-image:url('https://interactive.guim.co.uk/embed/aus/2019/bird-pics/{{#if img}}{{img}}'{{else}}52_other.png'{{/if}});">

                  <h2 class="center rank">{{rank}}</h2>

                </div>

            </div>

            <div class="bar-block">

                <div class="info-block">

                    <div class="textWrapper figureSans">

                        <div class="textInside">

                            <div class="bar" style="width:{{barWidth}}%;"></div>

                            <div class="scoreboard_container">

                                <div class="itemHeader">{{name}}</div>

                                <div class="votecount">Votes: {{votes}}</div>

                            </div>

                            <div class="textPanel"><p>{{description}}</p></div>

                        </div>

                    </div>
                      
                </div>

            </div>

        </div>  

    {{/each}}

    {{/if}}

</div>