
@import "mq";

#timestamp {
  width: 100%;
  color: #626262;
  font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.results-block {
  width: 100%;
  max-width: 1260px;
  margin: auto;
  display: inline-block;
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}

.ranking-block {
  float: left;
  width: 80px;
  min-height: 90px;

  h2 {
    font-size: 22px;
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    font-weight: 900;
  }

}

.bar-block {
  width: calc(100% - 100px);
  position: relative;
  float: right;
  margin-left: 20px;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.itemHeader {
  font-size: 1.2rem;
  line-height: 1rem;
  color: #000;
  padding-top: 10px;
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  font-weight: 900;
}

.birdrank {
  display: inline-block;
  width: 70px;
  height: 70px;
  float: right;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #000;

  h2 {
    margin-top: 60px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #109691;
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: #FFF;
  }
}

.textPanel {
  padding-right: 20px;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;
}

.textInside {
  margin-left: 5px;
}

.votecount {
  display: inline;
  color: #000;
}

.bar {
  position: absolute;
  background-color: #b0f5f2;
  height: 48px;
  top: 1px;
  width: 0px;
}

.scoreboard_container {
  position: relative;
  padding-left: 10px;
}
